BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100 # 100 looks good
AllowShortFunctionsOnASingleLine: false
BreakBeforeBraces: Allman
AlignTrailingComments: true
AlignConsecutiveMacros: true
AlignConsecutiveAssignments: true